
.timer {
  align-self: flex-end;

  display: flex;
  flex-flow: row nowrap;

  width: max-content;
  height: max-content;

  font-weight: bold;
}

.score {
  padding: 0.5rem;
  margin: 0.5rem;
  margin-right: 0;
  background-color: white;
}

.correct {
  color: green;
  border-right: 1px solid black;
}

.wrong {
  color: red;
  margin-left: 0;
}