/* You can add global styles to this file, and also import other style files */
body {
  background-color: #58B19F;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  font-family: 'Courier New', sans-serif;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  padding: 2.5rem;
  margin: 0.5rem;

  width: 50vw;
  background-color: white;
}

app-quiz {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

app-header {
  width: 100%;
}

app-question, app-account {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}