
<div class="main">
  <app-auth-button *ngIf="!(authService.isAuthenticated$ | async)"></app-auth-button>
  <div class="account" *ngIf="authService.user$ | async as user">
    <div *ngIf="authService.user$ | async as user">
      <p>{{user.name}}</p>
      <p>{{user.email}}</p>
    </div>
    <div>
      <input type="text" [(ngModel)]="quizName" />
      <button class="add" (click)="addQuiz()">+</button>
    </div>
  </div>
</div>

<div *ngFor="let quiz of quizzes" class="quiz-view">
  <div class="quiz" (click)="expand(quiz.id, quiz.visible)">
    <div class="info">
      <p>{{quiz.data.name}}</p>
      <p>{{quiz.data.id}}</p>
    </div>
    <div class="scores">
      <p>{{quiz.data.correct}}/{{quiz.data.total}}</p>
    </div>
  </div>
  <div *ngIf="quiz.visible" class="score-info">
    <div *ngFor="let student of quiz.data.results">
      <p class="name">{{student.name}}</p>
      <p>{{student.score.correct}}/{{student.score.total}}</p>
    </div>
  </div>
</div>