
<div class="main">
  <app-auth-button *ngIf="!(authService.isAuthenticated$ | async)"></app-auth-button>
  <ul *ngIf="authService.user$ | async as user">
    <li>{{user.name}}</li>
    <li>{{user.email}}</li>
  </ul>
</div>

<div *ngFor="let quiz of quizzes" class="quiz">
  <p>{{quiz.data.name}} - {{quiz.id}}</p>
  <p>total: {{quiz.data.correct}}/{{quiz.data.total}}</p>
  <div *ngFor="let result of quiz.data.results">
    <p>{{result.name}}: {{result.score.correct}}/{{result.score.total}}</p>
  </div>
</div>