
<div class="main">
  <app-auth-button *ngIf="!(authService.isAuthenticated$ | async)"></app-auth-button>
  <ul *ngIf="authService.user$ | async as user">
    <li>{{user.name}}</li>
    <li>{{user.email}}</li>
  </ul>
</div>

<div *ngFor="let quiz of quizzes" class="quiz-view" (click)="expand(quiz.id, quiz.visible)">
  <div class="quiz">
    <div class="info">
      <p>{{quiz.data.name}}</p>
      <p>{{quiz.id}}</p>
    </div>
    <div class="scores">
      <p>{{quiz.data.correct}}/{{quiz.data.total}}</p>
    </div>
  </div>
  <div *ngIf="quiz.visible" class="score-info">
    <div *ngFor="let student of quiz.data.results">
      <p class="name">{{student.name}}</p>
      <p>{{student.score.correct}}/{{student.score.total}}</p>
    </div>
  </div>
</div>